/*线控样式表*/

/*矩形*/

.rectangle{
    margin:0 auto;
    width:200px;
    height:100px;
    background: gray;
}



.capsuleBody{
    overflow:hidden;
    border-style:solid;
    border-color:black;
    margin:10% auto;
    width:100%;
    box-sizing:border-box;
    background: lightgrey;
    border-radius: 100em;
    
    /*
    border-top-left-radius: 130px;
    border-bottom-left-radius: 130px;
    border-top-right-radius: 120px;
    border-bottom-right-radius: 120px;
    */

}

.capsuleInnerBody{
    overflow:hidden;
    border:5px;
    border-color:black;
    margin-top: 3%;
    margin-left:5%;
    margin-bottom:3%;
    width:70%;
    float:left;
    background:whitesmoke;
    border-radius: 100em;
    /*
    border-top-left-radius: 130px;
    border-bottom-left-radius: 130px;
    border-top-right-radius: 120px;
    border-bottom-right-radius: 120px;
    */

}
.capsuleMiddle{

    

}
.displayInner{
    border:5px;
    border-color:black;
    overflow:hidden;
    width:65%;
    padding-bottom: 20%;
    background:grey;
    float:left;
    font-size: 2em;

}

.fontModeSelect{
    width:20%;
    overflow:hidden;
    margin-left:5%;
    margin-top:5%;
    padding-bottom:10%;
    font-size: small;
    float: left;
    text-align: center;
    
    
}
.fontLogo{
    width:30%;
    float:left;
    font-weight: bold;
    font-size:small;
}
.albumMode{

    font-size: x-small; 
    font-size:100%;   
}
.fontFuncSelect{
    width:40%;

    float:left;
    font-weight:bold;
    overflow:hidden;
    font-size:x-small;
   
}

.capsuleControl{
    border-style:solid;
    border-color: darkslategrey;
    overflow:hidden;
    margin-top:2em;
    margin-left:1%;
    width:20%;
    background-color:whitesmoke;
    float:left;
    border-radius: 20em;
}

.capsuleControlInnerCircle{
    
    width:15%;
    padding-bottom:10%;
    background-color:grey;
    
    border-radius: 100px;
}
.canvasContainer{

    width:100%;
    
}

.lastSong{
    margin-top:30%;
    font-size: xx-large;
    width:20%;
    padding-bottom: 5%;
    float: left;
    font-style: bold;
    
}
.nextSong{
    margin-top:30%;
    font-size: xx-large;
    width:20%;
    padding-bottom: 5%;
    float: left;
    
}
.volumeUp{
    font-size: xx-large;
    margin-left: 10%;
    width:20%;
    padding-bottom: 10%;
    float: left;
    
}
.volumeDown{
    font-size: xx-large;
    margin-top:60%;
    
    width:20%;
    padding-bottom: 10%;
    float:left;
    
}

.discContainer{
    background-color:lightgrey; 
    border-style:solid;
    border-color: black;
    width:60%;
    padding-bottom: 60%;
    /*
    width: 300px;  
    height: 300px;  
    margin: 0px 0 0 0px;  
    */
    border-radius: 50%;  
}
.discContainnerInner{
    background-color:whitesmoke; 
    float:left;
    width:80%;
    padding-bottom: 80%; 
    border-radius: 50%;
    margin-top:10%;
    margin-left: 10%;

    /*
    width: 200px;  
    height: 200px;  
    margin: 0 0 0 50px;  
    */
       
}
.fontDiscLogo{
    background-color:whitesmoke; 
    float:left;

}