.tri
{
    width:0px;
    height:px;
    background-color:palevioletred;
    border-top:60px solid cyan ;
    border-bottom: 60px solid rebeccapurple ;
    border-left: 60px solid blue;
    border-right: 60px solid grey ;
}

.circle
{
    background-color:blue;
    width: 50px;
    height: 50px;
    border-radius:50px;
}

.square{
    width:100px;
    height:100px;
    background-color:pink;
}

.rectangle
{
    width:200px;
    height:100px;
    background-color:pink;
}

.oval
{
    width:200px;
    height:100px;
    background-color:pink;
    border-radius: 100px/50px;
}

.triangle-up
{
    width:0;
    height:0;
    border-left: 50px solid transparent;
    border-right:50px solid transparent;
    border-bottom:100px solid;
}

.heart {
    position: relative;
    width: 400px;
    height: 400px;
}
.heart::before,
.heart::after {
    position: absolute;
    content: "declare";
    left: 200px;
    top: 50px;
    width: 200px;
    height: 300px;
    background: red;
    border-radius: 200px 200px 0 0  ;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}
.heart::after {
    left: 0px;
    transform: rotate(45deg);
    transform-origin :100% 100%;
}

.heart-inner{
    position:relative;
    width:400px;
    height:90px;
}
.heart-inner::before,
.heart-inner::after
{
    position:absolute;
    content:"inner";
    left:150px;
    top:80px;
    width:150px;
    height:250px;
    background-color:pink;
    border-radius: 150px 150px 0 0;
    transform :rotate(-45deg);
    transform-origin: 0 100%; 
}
.heart-inner::after
{
    left: 0px;
    transform:rotate(45deg);
    transform-origin:100% 100%;
}